doctype html
head

    title Quentin Taratino | Tribute Page
body
    .card
        .left
            .slider
                i.material-icons.arrow_back arrow_back
            img(src="https://vignette.wikia.nocookie.net/cosplay/images/0/06/Pulp_Fiction.png/revision/latest?cb=20180102051843", alt="pulp fiction").wordmark
        .right
            img(src="https://png2.kisspng.com/sh/babb9169883f6299070f62a4d7f7f9d0/L0KzQYm3UsA2N5p5j5H0aYP2gLBuTgF2bZ95gdC2dHH1cbB7if5wNaF6hOI2ZnnmhLr2jr1rfZ1qi59CaX7xdrrsjPQudZpmReVqbYXofH7zTfpia5x4h9C2cH7qPcHvjCRwNWZmT6puOHG5doK9gvE4Nmo4UKYDOEe7QYa4V8g4O2Q2UKsDOEmxgLBu/kisspng-quentin-tarantino-pulp-fiction-jules-winnfield-mia-samuel-l-jackson-png-photo-5a78e8a6f16ba7.9384887815178733189889.png", alt="samuel jackson").samuel
            .productInfo
                h2 PULP <br> FICTION
                h2 $1,299.99
                .details
                    .size
                        h4 HELMET SIZE
                        p S
                        p M
                        p L
                        p XL
                        
                    .durability
                        h3 75%
                        h4 DURABILITY <br> RATE

                    